.trash {
    position: fixed;
    /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/
    top: 87%;
    /*設置垂直位置*/
    right: 0%;
    /*設置水平位置，依所放的內容多寡需要自行手動調整*/
    padding: 10px 15px;
    border-radius: 10px;
    /*圓角*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 110px;
    height: 100px;
    z-index: 10;
}

.trash img {
    width: 75px;
    height: 75px;
}

#tabcontent {
    z-index: 1;
    position: relative;
    top: 15vh;
}